<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <!--Parte principal de la web: Tabla-->
    <main class="main">
        <!--Caja principal 1-->
        <div class="caja-titulo">
            <p class="titulo">Estás a un paso de tu previa</p>
        </div>
    
        <!--Caja QUERY-->
        <div class="caja-query">
            <!--Caja principal 2-->
            <div class="caja-producto">
                <div class="caja-foto">
                    <img class="carrito-fotos" src="/images/productos/product-1622663376784.jpg">            
                </div>
    
                <div class="caja-detalles-compra">
                    <p class="carrito-nombre">Fernet Branca</p>
                    <p class="carrito-precioUni">$ 600</p>   
                    <div class="fila-cantidad">
                        <button class="btn-menos">-</button>
                        <p class="cantidad">2</p>   
                        <button class="btn-mas">+</button>
                        <div class="fas fa-trash"></div>
                    </div>
                </div>
            </div>
    
            <!--Caja principal 3-->
            <div class="caja-valores">
                <div class="lbl-dto" for="">Cupón de descuento</div>
                
                <div class="caja-aplicar">
                <input type="text" class="aplicar">
                <button class="btn-aplicar">Aplicar</button>
                </div>  
                
                <div class="caja-subtotal">
                    <p class="titulo-subtotal">Subtotal</p>
                    <p class="subtotal">$ 1.200</p>
                </div>
                
                <div class="caja-descuento">
                    <p class="titulo-descuento">Descuento</p>
                    <p class="descuento">- $ 200</p>
                </div>
    
                <div class="caja-total">
                    <p class="titulo-total">Total</p>
                    <p class="total">$ 1.000</p>
                </div>
                
                <div class="btn-principales">
                <button class="btn-comprar">Comprar</button>
                <button class="btn-tienda" href="/">Seguir comprando</button>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>