<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <section class="bebidas">
        <article class="listadoArticulo">
            <img src="/images/productos/fernet-750.jpg" alt="fernet-750">
            <div class="cajaArticulo">
                <div class='cajaImporte'>
                    <p class='precio'>$550</p>
                    <p class='descuento'>xx %</p>
                </div>
                <p class='descripcion'>Fernet Branca 750 cc</p>
            </div>
        </article>
        <article class="listadoArticulo">
            <img src="/images/productos/absolut.jpg" alt="absolut 1 lt">
            <div class="cajaArticulo">
                <div class='cajaImporte'>
                    <p class='precio'>$xxx</p>
                    <p class='descuento'>xx %</p>
                </div>
                <p class='descripcion'>Vodka Absolut 1 lt</p>
            </div>
        </article>
        <article class="listadoArticulo">
            <img src="/images/productos/aperol.jpg" alt="Aperol 1 lt">
            <div class="cajaArticulo">
                <div class='cajaImporte'>
                    <p class='precio'>$xxx</p>
                    <p class='descuento'>xx %</p>
                </div>
                <p class='descripcion'>Aperol 1 lt</p>
            </div>
        </article>
        <article class="listadoArticulo">
            <img src="/images/productos/cocacola.jpg" alt="Coca Cola 2.5 lt">
            <div class="cajaArticulo">
                <div class='cajaImporte'>
                    <p class='precio'>$xxx</p>
                    <p class='descuento'>xx %</p>
                </div>
                <p class='descripcion'>Coca Cola 2.5 lt</p>
            </div>
        </article>
    </section>
    <section class="asado">
        <article class="listadoArticulo">
            <img src="/images/productos/carne.jpg" alt="carne">
            <div class="cajaArticulo">
                <div class='cajaImporte'>
                    <p class='precio'>$xxx</p>
                    <p class='descuento'>xx %</p>
                </div>
                <p class='descripcion'>Carne</p>
            </div>
        </article>
    </section>
    <section class="picada">
        <article class="listadoArticulo">
            <img src="/images/productos/picada.jpg" alt="Tabla de picada XL">
            <div class="cajaArticulo">
                <div class='cajaImporte'>
                    <p class='precio'>$xxx</p>
                    <p class='descuento'>xx %</p>
                </div>
                <p class='descripcion'>Tabla de picada XL</p>
            </div>
        </article>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>