<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>

        <form action="/products/charge" method="POST" enctype="multipart/form-data">
            <div class=ingresoManual>
                <p class="ingresa-cuenta">Cargá un nuevo producto</p><br> 
                <label for="nombre">Nombre de producto</label>
                <input class="nombre" type="text" name="nombre" placeholder="Nombre del Producto" required>
                <label for="descripcion" >Descripción del producto</label>
                <textarea class="descripcion" type="text" name="descripcion" rows="10" cols="50" placeholder="Descripcion del producto"></textarea><br>
                <label for="´precio">Precio</label>
                <input class="precio" type="text" name="precio" placeholder="Precio"> 
                <label for="descuento">Descuento</label>
                <input class="descuento" type="text" name="descuento" placeholder="Descuento"> 
                <label for="categoria">Categoría</label>
                <select class="categoria" name="categoria">
                    <option>Comida</option>
                    <option>Bebida</option>
                    <option>Otros</option>
                </select>
                <label for="imagen">Imagen</label>
                <span class="aclaracion-imagen">(La imagen debe ser de 1000 x 1000 píxeles y fondo blanco)</span>
                <input class="imagen" type="file" name="imagen" accept=".jpg, .png"></input>
                <button class="editar" type="submit" value="Editar">Subir</button>
            </div>
        </form>
    <%- include('../partials/footer') %>
</body>
</html>

  
    
