<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        
    <div id="contenedor">
        <div id="registro"><h1>Edicion de productos</h1></div>
        <div id="form">
            <%# ¿Este formulario no deberia estar configurado con PUT en vez de POST? Para mi es PUT %>
            <%# ¿Hay que hacer 2 EJS, uno con GET y uno con PUT? Para mi hay que hacer solo 1 con PUT %>
            <%# <form method="POST" action="/products/edit?_method=PUT"> %>
            <form action="register.html" method="POST">
                <div class="form-group">
                    
                    <input type="text" name="Producto"placeholder="Nombre del Producto" required>
                </div>
                <div class="form-group">
                
                    <!--<input type="text" name="Descripcion" value="Descripcion breve del producto" required>-->
                    <textarea name="textarea" rows="10" cols="50" placeholder="Descripcion del producto"></textarea>

                </div>
                <div class="form-group">
                <div class="edicion">
                    <input type="number" name="Price" placeholder="Precio" >
                </div>
                <div class="form-group">
               
                    <input type="text" name="sale" placeholder="Descuento"> 
             </div>
                <h3 class="cat">*Categoria</h3>
                <div class="eleccion">
                <select name="categoria">

                    <option>Comida</option>
                    
                    <option>Bebida</option>
                    
                    <option>Otros</option>
                    
                    </select> 
                </div>

                <h3 class="cat">Borrar Imagenes</h3>

                <div class =" fotos">
                    
                </div>
                <div><input type="reset" value="Borrar"></div>

              
                
                <h3 class="cat">Añadir imagen</h3>
                <div class="prueba">
                    <i class="fas fa-camera"></i><input type="file" name="ImagenDeProducto" acept=".jpg, .png"></input></div>
                
        
                    <input type="submit" value="Subir">
         

            
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>

    
</body>
</html>