<div class="slider">
    <div class="texto-slider"> ¿La Rubia</div>
    <div class="texto-slider2"> o la Morocha?</div>
    <div class="caja-foto-s">
        <img class="foto-slider" src="/images/logos/slider1.jpg" alt="">
    </div>
    <a href="/users/login" class="btn-registro">Armá tu previa</a>
</div>