<ul class="tabs">
    <li class="categorias"><a href="#" class="links">Bebidas</a></li>
    <li class="categorias"><a href="#" class="disabled">Asado</a></li>
    <li class="categorias"><a href="#" class="disabled">Picadas</a></li>
</ul>