<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-index.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Meet</title>
</head>
<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="nav">
            <ul class="menu1">
                <li><a class="link" href="#">Ofertas</a></li>
                <li><a class="link" href="#">Tiendas oficiales</a></li>
                <li><a class="link" href="#">Vender</a></li>
                <li><a class="link" href="#">Ayuda</a></li>
            </ul>
        </nav>
        <img class="logo" src="/images/logo.png" alt="All Meet">
        <div class="user">  
            <div class="icono-user">
                <i class="fas fa-user"></i>
            </div>
        </div> 
        <p class="bienvenida">
            Hola Bienvenido, <br><span class="frase">¿te ayudamos a cortar la semana?</span>
        </p>

        <div class="barra">
            <input class="busqueda" type="search" name="busqueda" placeholder="           Buscá acá tu producto"><i class="fas lupa fa-search"></i></input>
        </div>
    </header>

    <main>
        <ul class="tabs">
            <li class="categorias"><a href="#" class="links">Bebidas</a></li>
            <li class="categorias"><a href="#" class="disabled">Para el asado</a></li>
            <li class="categorias"><a href="#" class="disabled">Picadas</a></li>
        </ul>
        <section>
            <article class="producto">

            </article>
            <article class="producto">

            </article>

            </article>
            <article class="producto">

            </article>         
        </section>

        <section class="ofertas">
            <article class="producto">

            </article>
            <article class="producto">

            </article>
            <article class="producto">

            </article>
        </section>
    </main>

    <footer>
        <article class="seccion-footer">

        </article>

        <article class="seccion-footer">

        </article>

        <article class="seccion-footer">

        </article>


        <article class="seccion-footer">

        </article>

    </footer>
</body>
</html>