<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" >
    <link rel="stylesheet" href="/css/styles-login.css" >
    <link rel="stylesheet" href="/css/styles.css" >
    <title>AllMeet</title>
</head>
<body>
    <a href="/"><img class="logo" src="/images/logo.png" alt="All Meet"></a>
    <main>
        <p>Ingresá a tienda AllMeet</p>
        <p>Ingreso manual</p>
        <form action="" method="POST">
            <div>
                <label for="email"></label>
                <input type="email" placeholder="E-mail *" name="email" class="botonLargo">
            </div>
            <div>
                <label for="password"></label>
                <input type="password" placeholder="Contraseña *" name="password" class="botonLargo">
            </div>
            <p>¿Olvidaste tu contraseña?</p>
            <div class="botonLargo">
                <BUtton >INGRESAR</BUtton>
            </div>
            <p>o con tus redes</p>
            <div>
                <BUtton class="botonLargo">INGRESÁ CON GOOGLE</BUtton>
            </div>
            <div>
                <BUtton class="botonLargo">INGRESÁ CON FACEBOOK</BUtton>
            </div>
                
            
        </form>


    </main>
    <!-- <footer> -->

    <!-- </footer> -->
    
</body>
</html>