<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" >
    <link rel="stylesheet" href="/css/styles-login.css" >
    <link rel="stylesheet" href="/css/styles.css" >
    <title>AllMeet</title>
</head>
<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="logo" src="/images/logo.png" alt="All Meet">
        <img class="logo2" src="/images/logo2.png" alt="All Meet">
        <div class="user">  
            <div class="iconos">
                <i class="fas persona fa-user"></i>
                <i class="fas carrito fa-shopping-cart"></i> 
            </div>
        </div> 
    </header>
    <main>
        <form action="" method="POST">
            <div class=ingresoManual>
                <p>Ingreso manual</p>
                <label for="email" ></label>
                <input type="email" placeholder="E-mail *" name="email">
                <label for="password"></label>
                <input type="password" placeholder="Contraseña *" name="password">
            </div>
            <div class="cajaIngreso">
                <label for="recordarUsuario"><input type="checkbox" name="recordarUsuario"> Recordar usuario</label>
                <p>¿Olvidaste tu contraseña?</p>
            </div>
            <div class="ingresar">
                <button >INGRESAR</button>
            </div>        
            <div class="ingresoRedes">
                <p>o con tus redes</p>
                <button class="google">INGRESÁ CON GOOGLE</button>
                <button class="facebook">INGRESÁ CON FACEBOOK</button>
            </div> 
        </form>
    </main>
    <footer>
        <div class="iconos-footer">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class="logo-footer">
            <img class="logo-f" src="/images/logo-white.png" alt="All Meet">
        </div>
        <div class="derechos">
            Allmeet 2021. Todos los derechos reservados.
        </div>
    </footer>   
</body>
</html>