<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Mis lineas en el HEAD-->
    <title>All Meet - Carrito de compra</title>
    <link rel="stylesheet" href="./css/productCart.css">
</head>
<body>

    <!--Mis lineas en el HEADER-->
    <header class="header">

        <!--Menu hamburguesa-->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
        <!--Display none-->
        <nav class="nav">
            <ul class="menu1">
                <li><a class="link" href="#">Ofertas</a></li>
                <li><a class="link" href="#">Tiendas oficiales</a></li>
                <li><a class="link" href="#">Vender</a></li>
                <li><a class="link" href="#">Ayuda</a></li>
            </ul>
        </nav>

         <!--Logo de All Meet-->
        <img class="logo" src="/images/logo.png" alt="All Meet">
         
        <!--Login y Carrito-->
        <div class="user">  
            <div class="iconos">
                <i class="fas persona fa-user"></i>
                <i class="fas carrito fa-shopping-cart"></i> 
            </div>
        </div>

    </header>
 
    <!--Parte principal de la web: Tabla-->
    <main>

    </main>

</body>
</html>