<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" >
    <link rel="stylesheet" href="/css/styles-productDetail.css" >
    <link rel="stylesheet" href="/css/styles.css" >
    <title>AllMeet</title>
</head>
<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="logo" src="/images/logo.png" alt="All Meet">
        <img class="logo2" src="/images/logo2.png" alt="All Meet">
        <nav class="nav">
            <ul class="menu1">
                <li class="lista-nav"><a class="btn-nav" href="#">Ofertas</a></li>
                <li class="lista-nav"><a class="btn-nav" href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div class="user">  
            <div class="iconos">
                <i class="fas persona fa-user"></i>
                <i class="fas carrito fa-shopping-cart"></i> 
            </div>
        </div> 
        <div class="barra">
            <input class="busqueda" type="search" name="busqueda" placeholder="           Buscá acá tu producto"><i class="fas lupa fa-search"></i></input>
        </div>
    </header>
    <main>
        <article>
            <div class="caja-foto">
                <img class="foto" src="/images/fernet-750.jpg" alt="">
            </div>
            <div class="caja1">
                <div class="pago">
                    <p class="precio">$550.00</p>
                    <p class="pago">Ver medios de pago</p>
                </div>
                <div class="valoracion">
                    <i class="fas fa-star"></i>
                    <p>4.8</p>
                    <p class="opiniones">540 opiniones</p>
                </div>
            </div>
            <div class="compra">
                <button>Agregar a mi previa</button>
            </div>
            <div class="detalleProducto">
                <p>Marca: Branca</p>
                <p>Origen: Argentina</p>
                <p>Volumen; 750 ml</p>
            </div>
        </article>
        <section class="recomendaciones">
            <div class="separador">
                <p class="titulo">Te recomendamos</p>
                <p class="mira"> Mirá todo</p>
            </div>
            <div class="cajaRecomendaciones">   
                <div class="cajaProducto">
                    <div class="fotoDetalle">
                        <img class="prod" src="/images/cocacola.jpg" alt="">
                    </div>
                    <div class="descDetalle">
                        <p class="nombre">Coca Cola 2,5 L</p>
                        <p class="precio">$200</p>
                    </div>    
                </div>
                <div class="cajaProducto">
                    <div class="fotoDetalle">
                        <img class="prod" src="/images/picada.jpg" alt="">
                    </div>
                    <div class="descDetalle">
                        <p class="nombre">Tabla de picada XL</p>
                        <p class="precio">$1200</p>
                    </div>    
                </div>
                <div class="cajaProducto">
                    <div class="fotoDetalle">
                        <img class="prod" src="/images/carne.jpg" alt="">
                    </div>
                    <div class="descDetalle">
                        <p class="nombre">Costilla ternera 1kg</p>
                        <p class="precio">$750</p>
                    </div>    
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="iconos-footer">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class="logo-footer">
            <img class="logo-f" src="/images/logo-white.png" alt="All Meet">
        </div>
        <div class="derechos">
            Allmeet 2021. Todos los derechos reservados.
        </div>
    </footer> 
</body>
</html>