<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" >
    <link rel="stylesheet" href="/css/styles-productDetail.css" >
    <link rel="stylesheet" href="/css/styles.css" >
    <title>AllMeet</title>
</head>
<body>
    <header>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="nav">
            <ul class="menu1">
                <li><a class="link" href="#">Ofertas</a></li>
                <li><a class="link" href="#">Tiendas oficiales</a></li>
                <li><a class="link" href="#">Vender</a></li>
                <li><a class="link" href="#">Ayuda</a></li>
            </ul>
        </nav>
        <a href="/"><img class="logo" src="/images/logo.png" alt="All Meet"></a>
        
        <div class="user">  
            <div class="iconos">
                <i class="fas persona fa-user"></i>
                <i class="fas carrito fa-shopping-cart"></i> 
            </div>
        </div> 
        <p>Fernet Branca 750cc</p>
    </header>
    <main>
        <article>
            <div class="caja-foto">
                <img class="foto" src="/images/fernet-750.jpg" alt="">
            </div>
            <div class="caja1">
                <div class="pago">
                    <p class="precio">$635.00</p>
                    <p class="pago">Ver medios de pago</p>
                </div>
                <div class="valoracion">
                    <i class="fas fa-star"></i>
                    <p>4.8</p>
                    <p class="opiniones">540 opiniones</p>
                </div>
            </div>
            <div class="compra">
                <button>Agregar a mi previa</button>
            </div>
            <div class="detalleProducto">
                <p>Marca: Branca</p>
                <p>Origen: Argentina</p>
                <p>Volumen; 750 ml</p>
            </div>
            <div class="recomendaciones">
                <p class="recIzq">Tambien te recomendamos</p>
                <p class="recDer">Ver todo</p>
                <div class="productos">
                    <img src="/images/cocacola-2500.png" alt="">
                </div>
        </div>
        </article>
    </main>
    <!-- <main>
        <form action="" method="POST">
            <div class=ingresoManual>
                <p>Ingreso manual</p>
                <label for="email" ></label>
                <input type="email" placeholder="E-mail *" name="email">
                <label for="password"></label>
                <input type="password" placeholder="Contraseña *" name="password">
            </div>
            <p>¿Olvidaste tu contraseña?</p>
            <div class="ingresar">
                <button >INGRESAR</button>
            </div>        
            <div class="ingresoRedes">
                <p>o con tus redes</p>
                <button class="google">INGRESÁ CON GOOGLE</button>
                <button class="facebook">INGRESÁ CON FACEBOOK</button>
            </div>
                
            
        </form>


    </main> -->
    <!-- <footer> -->

    <!-- </footer> -->
    
</body>
</html>