<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles-index.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-register.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <img class="logo" src="/images/logo.png" alt="All Meet">
        <img class="logo2" src="/images/logo2.png" alt="All Meet">
        <nav class="nav">
            <ul class="menu1">
                <li class="lista-nav"><a class="btn-nav" href="#">Ofertas</a></li>
                <li class="lista-nav"><a class="btn-nav" href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div class="user">  
            <div class="iconos">
                <i class="fas persona fa-user"></i>
                <i class="fas carrito fa-shopping-cart"></i> 
            </div>
        </div> 

        <p class="bienvenida">
            Hola Bienvenido, <br><span class="frase">¿te ayudamos a cortar la semana?</span>
        </p>

        <div class="barra">
            <input class="busqueda" type="search" name="busqueda" placeholder="          Buscá acá tu producto"><i class="fas lupa fa-search"></i></input>
        </div>
    </header>

    <main>
        
    <div id="contenedor">
        <div id="registro"><h1>Registrate</h1></div>
        <div id="form">
            <form action="POST" method="">
                <div class="form-group">
                   <label for=""></label> 
                   <input type="text" name="nombre" placeholder="Ingrese nombre y apellido" required>
                </div>
                <div class="form-group">
                    <label for=""></label> 
                    <input type="email" name="email" placeholder="Ingrese e-mail" required>
                 </div>
               
                 <div class="form-group"> 
               <label for=""></label> 
               <input type="password" name="password" placeholder="Ingrese contraseña" required>
                </div>
               
               <div class="form-group">
                    <label for=""></label> 
                    <input type="text" name="password" placeholder="Confirme contraseña" required>
                </div>
               
                <div class="form-group"> 
                    <input type="submit" value="Registrarse">
                </div>

            </form>
        </div>
    </div>
    <footer>
        <div class="iconos-footer">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
        </div>
        <div class="logo-footer">
            <img class="logo-f" src="/images/logo-white.png" alt="All Meet">
        </div>
        <div class="derechos">
            Allmeet 2021. Todos los derechos reservados.
        </div>
    </footer>


    
</body>
</html>