/* HEADER */
header{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    padding: 30px;}

    .burger-menu{
        font-size: 25px;
        line-height: 40px;
        width: 30%;}

    nav{
        display: none;}

    .logo{
        height: 40px;}

    .user{
        position: relative;
        width: 30%;}

    .iconos{
        position: absolute;
        font-size: 22px;
        line-height: 45px;
        right: 0;
        width: 60px;
        height: 30px;}

    .persona{
        margin-right: 10px;}


/* MAIN */
main{
    background-color: white;}

    
/* TABLA */
table{
    width: 100%;
    text-align: left;
    padding: 30px;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: #717171;
    background-color: #f6f6f6;}
   
    .menos, .mas, .Fila1, .columna4, .columna6, .columna2, .total, .botonSeguirComprando{
    text-align: center}

    .columna8, .precioTotal, .botonComprar{
    text-align: right}

    .total, .vacio, .Fila5, .precioTotal{
    border-top:#717171 2px solid}

    .botonComprar{
    border:#717171 2px solid;
    background-color:white ;
    color: #717171;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.5, color 0.5s, border 0.5s}

    .botonComprar:hover {
        background-color:black ;
        color: white;
        border:black 2px solid;}

    .seguirComprando{
    display: flex;
    justify-content: center;}

   
    @media (max-width: 480px) {table {display: block; overflow-x: auto; font-size: 8px;}}
