
/* MAIN */
main{
    background-color: white;}
/* ---------------------------------- */



/*------- ESTILOS DE LA TABLA -------*/
table{
    width: 100%;
    text-align: left;
    padding: 30px;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 35px;
    color: #717171;
    background-color: #f6f6f6;}
   
    .menos, .mas, .Fila1, .columna4, .columna6, .columna2,.CalculaTuEnvio, .total, .botonSeguirComprando{
    text-align: center}

    .columna8, .precioTotal, .botonComprar{
    text-align: right}

    .total, .vacio, .Fila5, .precioTotal{
    border-top:#717171 2px solid}

    .botonComprar{
    border:#717171 2px solid;
    background-color:white ;
    color: #717171;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.5, color 0.5s, border 0.5s}

    .botonComprar:hover {
        background-color:black ;
        color: white;
        border:black 2px solid;}

    .seguirComprando{
        display: flex;
        justify-content: center;}

    .CPseleccionables{
        border:#717171 2px solid;
        background-color:white ;
        color: #717171;
        border-radius: 30px;}
    
    #tachoDelete{
        width: 30px;
        padding-left: 10px;
    }

/* ---------------------------------- */


/*------- MEDIA QUERYS -------*/
/*------- Vista mobile -------*/
@media (max-width: 480px) {
    
    table {
    display: block; 
    overflow-x: auto;
    font-size: 11px;
    padding: 10px;}

    .Fila1{font-size: 12px;}

    .columna2{width: 35px;}

    .PrecioUnitario {width:20%;}

    .CalculaTuEnvio2 {display:none;}

    .CP{width:33%;}

    .CPtext2 {display:none;}

    .seguirComprando{display:none;}
}

/*------- MEDIA QUERYS -------*/
/*------- Desktop -------*/
@media (min-width: 480px) {

    .CalculaTuEnvio1 {display:none;}

    .CPtext1 {display:none;}

}
