/* HEADER */
header{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    padding: 30px;
}

.burger-menu{
    font-size: 25px;
    line-height: 40px;
    width: 30%;
}

nav{
    display: none;
}

.logo{
    height: 40px;
}

.user{
    position: relative;
    width: 30%;
}

.iconos{
    position: absolute;
    font-size: 22px;
    line-height: 45px;
    right: 0;
    width: 60px;
    height: 30px;
}

.persona{
    margin-right: 10px;
}


/* MAIN */
main{
    background-color: white;
}

/* TABLA */
table{
    width: 100%;
    text-align: left;
    padding: 30px;
    font-family: 'Lato', sans-serif;
    color: #717171;
    background-color: #f6f6f6;
}
