/* HEADER */
header{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

    header div.burger-menu{
        font-size: 25px;
        line-height: 40px;
        width: 30%;
    }

    header nav{
        display: none;
    }
    header a img.logo{
        height: 40px;
    }
    header div.user{
        position: relative;
        width: 30%;
    }

        header div.user div.iconos{
            position: absolute;
            font-size: 22px;
            line-height: 45px;
            right: 0;
            width: 60px;
            height: 30px;
        }

        header div.user div.iconos i.persona{
                margin-right: 10px;
            }

    header p{
        margin-top: 30px;
        width: 100%;
        font-size: 25px;
        font-weight: 800;
    }

.FraseCarrito2{
    text-align: center;
}

/* MAIN */
main{
    background-color: white;}

    
/* TABLA */
table{
    width: 100%;
    text-align: left;
    padding: 30px;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: #717171;
    background-color: #f6f6f6;}
   
    .menos, .mas, .Fila1, .columna4, .columna6, .columna2,.CalculaTuEnvio, .total, .botonSeguirComprando{
    text-align: center}

    .columna8, .precioTotal, .botonComprar{
    text-align: right}

    .total, .vacio, .Fila5, .precioTotal{
    border-top:#717171 2px solid}

    .botonComprar{
    border:#717171 2px solid;
    background-color:white ;
    color: #717171;
    text-align: center;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.5, color 0.5s, border 0.5s}

    .botonComprar:hover {
        background-color:black ;
        color: white;
        border:black 2px solid;}

    .seguirComprando{
    display: flex;
    justify-content: center;}

/* FOOTERR */
footer{
    width: 100%;
    height: 300px;
    background-color: #585858;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

    .iconos-footer{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-around;
    margin: auto;
    width: 150px;
    color: white;
    font-size: 18px;
    }

    .logo-footer{
    position: relative;
    width: 150px;
    margin: auto;
    top: 150px;
    }

    .logo-f{
    width: 100%;
    }

    .derechos{
    position: relative;
    text-align: center;
    width: 400px;
    margin: auto;
    color: #fff;
    top: 180px;
    }
    

@media (max-width: 480px) {
    table {
    display: block; 
    overflow-x: auto;
    font-size: 8px;
    padding: 10px;}

    .PrecioUnitario {width:20%;}

    .CalculaTuEnvio {width:11%;}

    .CP{width:30%;}
}
