

main{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    background-color: #f6f6f6;
    border-radius: 30px;
}
    main form div.ingresoManual, main form div.ingresoRedes{
        margin: 0px 20px;
        border-radius: 10px;
        max-width: 100%;
    }
        main form div.ingresoManual p{
            margin-top: 20px;
            display: inline-block;
            font-size: 16px;
            padding: 1px 15px;
            line-height: 30px;
            border-radius: 10px;
            height: 35px;
            text-decoration: none;
            color: #717171;
        }
        main form div.ingresoManual input{
            width: 100%;
            margin: 5px auto;
            border: 1px solid #666;
            border-radius: 10px;
            padding: 10px;
        }
        main form div.cajaIngreso{
            display: flex;
            margin: 0 20px;
            justify-content: space-between;
            align-items: center;
        }
        main form div.cajaIngreso label{
            color: #717171;


        }
    main form p{
        color: #717171;
        text-align: right;
        font-size: 12px;
        font-weight: bold;
    }
    main form div.ingresar{
        margin: 0 20px;
    }
        main form div.ingresar button, main form div.ingresoRedes button{
                width: 100%;
                margin: 20px auto;
                border: 1px solid #666;
                border-radius: 25px;
                padding: 10px;                
        }
        main form div.ingresar button{
            background-color: #717171;
            color: #fff
        }
        main form div.ingresoRedes p{
            display: inline-block;
            font-size: 16px;
            padding: 1px 15px;
            line-height: 30px;
            border-radius: 10px;
            height: 35px;
            text-decoration: none;
            color: #717171;
        }
        main form div.ingresoRedes button.google{
            background-color: #fff;
            color: #f40000;
        }
        main form div.ingresoRedes button.facebook{
            background-color: #3d57ac;
            color: #fff
        }

/* Diseño tablet */
@media (min-width:481px){
    header p{
        margin-top: 30px;
        width: 75%;
        font-size: 25px;
        font-weight: 800;
    
    }
    main{
        width: 100%;
        margin: auto;
        padding: 0 10%;
        margin-top: 30px;
        background-color: #f6f6f6;
        border-radius: 30px;
    }
    .logo2{
        display: none;
    }

    .logo{
        display: inline-block;
    }
    .links, .disabled{
        font-size: 18px;
    }

    .nombre-producto{
        font-size: 42px;
    }

    .titulo, .mira{
        font-size: 22px;
    }

    .nombre-oferta, .precio-oferta{
        font-size: 18px;
    }  
}
/* Diseño desktop */
@media (min-width:769px){
    .logo2{
        display: inline-block;
    }

    .logo{
        display: none;
    }

    .slider{
        width: 100%;
        display: block;
        position: relative;
    }

    .foto-slider{
        width: 100%;
    }

    .burger-menu{
        display: none;
    }

    .nav{
        display: inline-block;
    }

    .menu1{
        position: relative;
        left: -110px;
        display: flex;
        height: 40px;
        line-height: 40px;
        
    }

    .lista-nav{
        list-style: none;
        margin-right: 20px;
        
    }

    .btn-nav{
        text-decoration: none;
        color: black;
    }

    .bienvenida{
        display: none;
    }

    .barra{
        position: absolute;
        top: -20px;
        left: 40%;
        width: 40%;
    }
}
/* Diseño larger desktop */
@media (min-width:1280px){
    .logo2{
        display: none;
    }

    .logo{
        display: inline-block;
    }
}
        

