header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: space-between;
}

.burger-menu{
    font-size: 25px;
    line-height: 40px;
    width: 30%;
}

.logo{
    display: none;
    height: 40px;
}

.logo2{
    height: 40px;
}

nav{
    display: none;
}

.user{
    position: relative;
    width: 30%;
}

.iconos{
    position: absolute;
    font-size: 22px;
    line-height: 45px;
    right: 0;
    width: 60px;
    height: 30px;
}

.persona{
    margin-right: 10px;
}

.slider{
    display: none;
    width: 100%;
}

main{
    margin: auto;
    background-color: #f6f6f6;
    border-radius: 30px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px 0 20px 0;
}

.bienvenida{
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
}

.frase{
    font-size: 25px;
    font-weight: 800;

}

.barra{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.lupa {
    position: absolute;
    background-color: white;
    left: 10px;
    line-height: 38px;
    color: #666;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.busqueda{
    border: 1px solid #666;
    border-radius: 10px;
    width: 100%;
}


.tabs{
    display: flex;
    margin: 0px 30px;
    padding: 5px;
}

.categorias{
    margin-top: 15px;
    list-style: none;
}

.links{
    display: inline-block;
    font-size: 14px;
    padding: 1px 20px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #717171;
    height: 35px;
    text-decoration: none;
    color: #fff;
}

.disabled{
    display: inline-block;
    font-size: 14px;
    padding: 1px 15px;
    line-height: 30px;
    border-radius: 10px;
    height: 35px;
    text-decoration: none;
    color: #717171;
}

section{
    width: 92%;
    margin: 20px auto;
}

.producto{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
    padding: 15px 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.detalle-producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 10px;
    width: 45%;
}

.caja-flecha{
    display: flex;
}

.compralo{
    position: relative;
    font-size: 16px;
    color: #717171;
    top: -5px;
}

.flecha{
    position: relative;

    left: 8px;
    font-size: 14px;
    color: #717171;
}

.caja-foto{
    right: 10px;
    width: 45%;
}

.foto{
    width: 100%;
}

.nombre-producto{
    color: #717171;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}

.separador{
    display: flex;
    position: relative;
    margin: 30px 0;
    justify-content: space-between;
    color: #717171 ;
}

.titulo{
    position: relative;
    font-weight: 700;
}

.mira{
    position: relative;
}

.caja-ofertas{
    display: flex;
    justify-content: space-between;
    color: #717171 ;
}

.ofe-1 {
    width: 47%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
}

.foto-oferta{
    position: relative;
    width: 80%;
    height: 65%;
    margin-top: 5%;
    left: 16%;
}

.foto-ofe{
    margin: auto;
    width: 80%;
}

.desc-oferta{
    position: relative;
    width: 80%;
    margin: 15px 0 15px 0;
    top: 11%;
    left: 10%;
    font-size: 14px;
}

.precio-oferta{
    font-weight: 700;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #585858;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

.iconos-footer{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-around;
    margin: auto;
    width: 150px;
    color: white;
    font-size: 18px;
}

.logo-footer{
    position: relative;
    width: 150px;
    margin: auto;
    top: 150px;
}

.logo-f{
    width: 100%;
}

.derechos{
    position: relative;
    font-size: 14px;
    text-align: center;
    margin: auto;
    color: #fff;
    top: 180px;
}

@media (min-width: 375px){
    .logo2{
        display: none;
    }

    .logo{
        display: inline-block;
    }
}

@media (min-width: 481px){

    .links, .disabled{
        font-size: 18px;
    }

    .nombre-producto{
        font-size: 42px;
    }

    .compralo, .flecha{
        font-size: 20px;
    }

    .titulo, .mira{
        font-size: 22px;
    }

    .nombre-oferta, .precio-oferta{
        font-size: 18px;
    }
}

@media (min-width: 769px){

    .logo2{
        display: inline-block;
    }

    .logo{
        display: none;
    }

    .slider{
        width: 100%;
        display: block;
        position: relative;
    }

    .foto-slider{
        width: 100%;
    }

    .burger-menu{
        display: none;
    }

    .nav{
        display: inline-block;
    }

    .menu1{
        position: relative;
        left: -110px;
        display: flex;
        height: 40px;
        line-height: 40px;
        
    }

    .lista-nav{
        list-style: none;
        margin-right: 20px;
        
    }

    .btn-nav{
        text-decoration: none;
        color: black;
    }

    .bienvenida{
        display: none;
    }

    .barra{
        position: absolute;
        top: -20px;
        left: 40%;
        width: 40%;
    }
}

@media (min-width: 1280px){

    .logo2{
        display: none;
    }

    .logo{
        display: inline-block;
    }


}