


/*------- ESTILOS SLIDER -------*/

.slider{
    margin-top: 15px;
    width: 100%;
    position: relative;
}

.texto-slider{
    position: absolute;
    color: #fff;
    font-size: 5vw;
    top: 30%;
    left: 5%;
    animation: texto-slider 5s infinite;
}

.texto-slider2{
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 6vw;
    top: 48%;
    left: 5%;
    animation: texto-slider2 5s infinite;
}

@keyframes texto-slider{
    0% {opacity: 0%}
    50% {opacity: 100%; transform: translateX(30px);}
    100% {opacity: 0%}
}

@keyframes texto-slider2{
    0% {opacity: 0%}
    90% {opacity: 100%; transform: translateX(45px)}
    100% {opacity: 0%}
}

.caja-foto-slider{
    width: 100%;
}

.foto-slider{
    width: 100%;
}

/* ---------------------------------- */



/*------- ESTILOS MAIN -------*/

.main-index{
    margin: auto;
    background-color: #f6f6f6;
    border-radius: 30px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px 0 20px 0;
}

/* Estilos sobre frase de bienvenida */

.bienvenida{
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
}

.frase{
    font-size: 25px;
    font-weight: 800;

}



/* Estilos del menu de productos con tabs */

.tabs{
    display: flex;
    margin: 0px 4%;
    padding: 5px;
}

.categorias{
    margin-top: 15px;
    list-style: none;
}

.links{
    display: inline-block;
    font-size: 14px;
    padding: 1px 20px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #717171;
    height: 35px;
    text-decoration: none;
    color: #fff;
}

.disabled{
    display: inline-block;
    font-size: 14px;
    padding: 1px 15px;
    line-height: 30px;
    border-radius: 10px;
    height: 35px;
    text-decoration: none;
    color: #717171;
}

/* Estilos de las cajas y slider de productos */

section{
    width: 92%;
    margin: 20px auto;
}

.productos{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: auto;
}

.slider-productos{
    display: flex;
    flex:none;
    width: 80%;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}

.detalle-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 10px;
    width: 45%;
    margin: 0 auto 0 0;
}

.nombre-productos{
    color: #717171;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
}

.caja-foto-productos{
    right: 10px;
    width: 45%;
}

.fotos{
    width: 100%;
}


.caja-flecha{
    display: flex;
    text-decoration: none;
}

.compralo{
    position: relative;
    font-size: 16px;
    color: #717171;
    top: 10px;
}

.flecha{
    position: relative;
    top: 13px;
    left: 8px;
    font-size: 14px;
    color: #717171;
}


.separador-index{
    display: flex;
    position: relative;
    margin: 30px 0;
    justify-content: space-between;
    color: #717171 ;
}

/* Estilos del separador más buscados */

.titulo{
    position: relative;
    font-weight: 700;
}

.mira{
    position: relative;
}

.caja-ofertas{
    display: flex;
    color: #717171;
    overflow-x: auto;
    
}

.ofe-1 {
    width: 47%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    flex: 0 0 auto;
    margin-right: 15px;
    text-decoration: none;
    color: #717171;
}

.foto-oferta{
    position: relative;
    width: 80%;
    height: 65%;
    margin: 15%;
}

.foto-ofe{
    position: relative;
    width: 80%;
}

.desc-oferta{
    position: relative;
    width: 80%;
    margin: 15px 0 15px 0;
    top: 11%;
    left: 10%;
    font-size: 14px;
}

.precio-oferta{
    font-weight: 700;
}

/* ---------------------------------- */





@media (min-width: 481px){

    .links, .disabled{
        font-size: 18px;
    }

    .nombre-producto{
        font-size: 42px;
    }

    .compralo, .flecha{
        font-size: 25px;
    }

    .titulo, .mira{
        font-size: 22px;
    }

    .nombre-oferta, .precio-oferta{
        font-size: 18px;
    }
}

@media (min-width: 769px){

    .logo2{
        display: inline-block;
    }

    .logo{
        display: none;
    }



    .burger-menu{
        display: none;
    }

    .nav{
        display: inline-block;
    }

    .menu1{
        position: relative;
        left: -110px;
        display: flex;
        height: 40px;
        line-height: 40px;
        
    }

    .lista-nav{
        list-style: none;
        margin-right: 20px;
        
    }

    .btn-nav{
        text-decoration: none;
        color: black;
    }

    .bienvenida{
        display: none;
    }

    .barra{
        position: absolute;
        top: -20px;
        left: 40%;
        width: 40%;
    }

    .productos{
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .slider-productos{
        width: 48%;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .compralo{
        margin-top: 5px;
        font-size: 18px;
    }

    .flecha{
        font-size: 13px;
        top: 20px;
    }

    .ofe-1 {
        width: 30%;
    }

    
}

@media (min-width: 1280px){

    .logo2{
        display: none;
    }

    .logo{
        display: inline-block;
    }

    .slider-productos{
        width: 32%;
    }

    .ofe-1 {
        width: 20%;
    }


}