
/*contenedor de todo*/
#contenedor{
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow:2px 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    background-color: white;
}

#registro{
    text-align: center;
}

/*formulario*/
#contenedor #form{
    margin-top: 10px;
}
/*alineacion de inputs*/
#form .form-group{
    
    margin-top: 20px;
    text-align: center;
}
/*estilo de inputs*/
input[type="text"], [type="email"], [type="password"], [type="number"] {
    margin-top: 5px;
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}


 input[type="file"]{


        margin-top: 5px;
        width: 60%;
        padding-left: 5px;
        padding-right: 5px;
        height: 35px;
        border-radius: 10px;
        
     

}
/*estilo enviar y borrar*/
input[type="submit"], [type="reset"]{
    width: 60%;
    height: 35px;
    border-radius: 10px;
    border:none;
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #717171;
    color: #fff;
    line-height: 30px;
    padding: 1px 15px;
    margin-top: 1%;

}
/*estilo carga de imagenes*/
.eleccion select{
    margin-top: 5px;
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.2);

}
/*estilo descripcion*/
.form-group textarea{
    
    margin-top: 5px;
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: none;
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h3, .cat{
    margin-top: 1%;
}

.form-group img{
    max-width: 200px;
}

.form-group .edad{
    margin-top: 5px;
    width: 60%;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #717171;
}

/*REVISAR*/

/*
.fotos{
    background-size: auto;
    margin: auto;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    border-radius: 10px;
    border: none;
    box-shadow:1px 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    #contenedor{
        width: 100%;
    }
}

*/




