/* CSS ROOT */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
/*------- ESTILOS HEADER -------*/

header{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: space-between;
}

.burger-menu{
    font-size: 25px;
    line-height: 40px;
    width: 30%;
}

.link-logo{
    display: none;
}


.logo{
    display: none;
    height: 40px;
}

.logo2{
    height: 40px;
}


nav{
    display: none;
}

.user{
    position: relative;
    width: 30%;
}

.iconos{
    position: absolute;
    font-size: 22px;
    line-height: 45px;
    right: 0;
    width: 60px;
    height: 30px;
}

.persona{
    margin-right: 10px;
}

.persona, .carrito{
    color: #000;
}

/* Estilos barra de búsqueda */

.barra{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.lupa {
    position: absolute;
    background-color: white;
    left: 10px;
    line-height: 38px;
    color: #666;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.busqueda{
    border: 1px solid #666;
    border-radius: 10px;
    width: 100%;
}

/* ---------------------------------- */


/*------- ESTILOS FOOTER -------*/

footer{
    width: 100%;
    height: 300px;
    background-color: #585858;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}

.iconos-footer{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: space-around;
    margin: auto;
    width: 150px;
    color: white;
    font-size: 18px;
}

.logo-footer{
    position: relative;
    width: 150px;
    margin: auto;
    top: 150px;
}

.logo-f{
    width: 100%;
}

.derechos{
    position: relative;
    font-size: 14px;
    text-align: center;
    margin: auto;
    color: #fff;
    top: 180px;
}

/* ---------------------------------- */

/*------- 404 -------*/

.error404{
    display: flex;
    width: 100%;
}

.error404 .img404{
    width: 50%;
    margin: 30px auto;
}

/* ---------------------------------- */


/*------- MEDIA QUERYS -------*/

/*------- DISEÑO TABLET -------*/
@media (min-width: 481px){
    .logo2{
        display: none;
    }

    .link-logo{
        display: none;
    }
    
    .logo{
        display: inline-block;
    }
    
    .link-logo{
        display: inline-block;
    }

    .links, .disabled{
        font-size: 18px;
    }

    .nombre-producto{
        font-size: 42px;
    }

    .titulo, .mira{
        font-size: 22px;
    }

    .titulo, a, .mira{
        text-decoration: none;
    }

    .nombre-oferta, .precio-oferta{
        font-size: 18px;
    }
}

/*------- DISEÑO DESKTOP -------*/
@media (min-width: 769px){

    .slider{
        margin-top: 0; 
    }

    .logo2{
        display: inline-block;
    }

    .link-logo2{
        display: inline-block;
    }

    .logo{
        display: none;
    }

    .link-logo{
        display: none; 
    }



    .burger-menu{
        display: none;
    }

    .nav{
        display: inline-block;
    }

    .menu1{
        position: relative;
        left: -130px;
        display: flex;
        height: 40px;
        line-height: 40px;
        
    }

    .lista-nav{
        list-style: none;
        margin-right: 20px;
        
    }

    .btn-nav{
        text-decoration: none;
        color: black;
    }

    .bienvenida{
        display: none;
    }

    .barra{
        position: absolute;
        top: -20px;
        left: 40%;
        width: 40%;
    }
}

/*------- DISEÑO LARGER DESKTOP -------*/
@media (min-width: 1280px){

    .logo2{
        display: none;
    }

    .link-logo2{
        display: none; 
    }

    .logo{
        display: inline-block;
    }

    .link-logo{
        display: inline-block;
    }
}