<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="error404">
            <img class="img404" src="/images/404.png" alt="">
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>