<header class="header">
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <a class="link-logo" href="/"><img class="logo" src="/images/logos/logo.png" alt="All Meet"></a>
    <a class="link-logo2" href="/"><img class="logo2" src="/images/logos/logo2.png" alt="All Meet"></a>
    <nav class="nav">
        <ul class="menu1">
            <li class="lista-nav"><a class="btn-nav" href="#">Ofertas</a></li>
            <li class="lista-nav"><a class="btn-nav" href="#">Ayuda</a></li>
        </ul>
    </nav>
    <div class="user">  
        <div class="iconos">
            <a href="/users/login"><i class="fas persona fa-user"></i></a>
            <a href="/products/cart"><i class="fas carrito fa-shopping-cart"></i> </a>
        </div>
    </div> 

    <p class="bienvenida">
        Hola Bienvenido, <br><span class="frase">¿te ayudamos a cortar la semana?</span>
    </p>

    <div class="barra">
        <input class="busqueda" type="search" name="busqueda" placeholder="           Buscá acá tu producto"><i class="fas lupa fa-search"></i></input>
    </div>
</header>