<div class="caja-valores">
    <div class="lbl-dto" for="">Cupón de descuento</div>
    
    <div class="caja-aplicar">
    <input type="text" class="aplicar" placeholder="Ingresá el cupón">
    <button class="btn-aplicar">Aplicar</button>
    </div>  
    
    <div class="caja-subtotal">
        <p class="titulo-subtotal">Subtotal</p>
        <p class="subtotal">$ 1.200</p>
    </div>
    
    <div class="caja-descuento">
        <p class="titulo-descuento">Descuento</p>
        <p class="descuento">- $ 200</p>
    </div>

    <div class="caja-total">
        <p class="titulo-total">Total</p>
        <p class="total">$ 1.000</p>
    </div>
    
    <div class="btn-principales">
    <button class="btn-comprar">Finalizar</button>
    <button class="btn-tienda" href="/"> Al market</button>
    <button class="btn-reset" href="/">Resetear</button>
    </div>
</div>