<!--Caja principal 2-->
<div class="compras">
    <div class="caja-producto">
        <div class="caja-foto">
            <img class="carrito-fotos" src="/images/productos/aperol.jpg">            
        </div>
        <div class="caja-detalles-compra">
            <p class="carrito-nombre">Aperol</p>
            <p class="carrito-precioUni">$ 200</p>   
            <div class="fila-cantidad">
                <button class="btn-menos">-</button>
                <p class="cantidad">2</p>   
                <button class="btn-mas">+</button>
                <div class="fas fa-trash"></div>
            </div>
        </div>
    </div>
    <div class="caja-producto">
        <div class="caja-foto">
            <img class="carrito-fotos" src="/images/productos/hielo5k.png">            
        </div>
        <div class="caja-detalles-compra">
            <p class="carrito-nombre">Hielo 5k</p>
            <p class="carrito-precioUni">$ 100</p>   
            <div class="fila-cantidad">
                <button class="btn-menos">-</button>
                <p class="cantidad">2</p>   
                <button class="btn-mas">+</button>
                <div class="fas fa-trash"></div>
            </div>
        </div>
    </div>
    <div class="caja-producto">
        <div class="caja-foto">
            <img class="carrito-fotos" src="/images/productos/speed.PNG">            
        </div>
        <div class="caja-detalles-compra">
            <p class="carrito-nombre">Speed</p>
            <p class="carrito-precioUni">$ 100</p>   
            <div class="fila-cantidad">
                <button class="btn-menos">-</button>
                <p class="cantidad">2</p>   
                <button class="btn-mas">+</button>
                <div class="fas fa-trash"></div>
            </div>
        </div>
    </div>
</div>