<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="" method="POST">
            <div class=ingresoManual>
                <p class="ingresa-cuenta">Ingresá con tu cuenta</p><br>
                <label for="email">Usuario</label>
                <input class="email" type="email" placeholder="Ingresá tu usuario o correo electrónico" name="email">
                <label for="password">Contraseña</label>
                <input class="password" type="password" placeholder="Ingresá tu contraseña" name="password">
            </div>
            <div class="cajaIngreso">
                <label for="recordarUsuario"><input type="checkbox" name="recordarUsuario"> Recordar usuario</label>
                <p>¿Olvidaste tu contraseña?</p>
            </div>
            <div class="ingresos">
                <button type="submit" class="ingresar" >Ingresá</button>
                <a href="/users/register" class="registrate" >Registrate</a>
                <div class="redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google"></i>
                </div>
            </div>        
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>