<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="" method="POST">
            <div class=ingresoManual>
                <p class="ingresa-cuenta">Ingresá con tu cuenta</p>
                <label for="email" ></label>
                <input class="email" type="email" placeholder="E-mail *" name="email">
                <label for="password"></label>
                <input class="password" type="password" placeholder="Contraseña *" name="password">
            </div>
            <div class="cajaIngreso">
                <label for="recordarUsuario"><input type="checkbox" name="recordarUsuario"> Recordar usuario</label>
                <p>¿Olvidaste tu contraseña?</p>
            </div>
            <div class="ingresos">
                <button class="ingresar" >Ingresá</button>
                <button class="registrate" >Registrate</button>
                <div class="redes">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-google"></i>
                </div>
            </div>        
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>