<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
    <%- include('../partials/header') %>

    <main>
        
    <div id="contenedor">
        <div id="registro"><h1>Registrate</h1></div>
        <div id="form">
            <form action="POST" method="">
                <div class="form-group">
                   <label for=""></label> 
                   <input type="text" name="nombre" placeholder="Ingrese nombre y apellido" required>
                </div>
                <div class="form-group">
                    <label for=""></label> 
                    <input type="email" name="email" placeholder="Ingrese e-mail" required>
                 </div>
               
                 <div class="form-group"> 
               <label for=""></label> 
               <input type="password" name="password" placeholder="Ingrese contraseña" required>
                </div>
               
               <div class="form-group">
                    <label for=""></label> 
                    <input type="text" name="password" placeholder="Confirme contraseña" required>
                </div>
               
                <div class="form-group"> 
                    <input type="submit" value="Registrarse">
                </div>

            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>    
</body>
</html>